{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}
        {{paper-icon "face" class="md-avatar-icon"}}
        {{user.userId}}
        {{#paper-button onClick=(action 'edit')}}{{paper-icon "mode edit"}}Edit{{/paper-button}}
      {{/text.headline}}
    {{/title.text}}
  {{/card.title}}
  {{#card.content}}
    {{#if edit}}
      {{#paper-form onSubmit=(action "update") as |form|}}
        {{form.input label="First Name" value=user.firstName onChange=(action (mut user.firstName))}}
        {{form.input label="Last Name" value=user.lastName onChange=(action (mut user.lastName))}}
        <div> Locations:
          {{#each user.locations as |loc|}}
            {{loc.name}},
          {{/each}}
          {{#paper-autocomplete
            class="flex"
            label="Add Location"
            options=locationList searchField="name"
            onSelectionChange=(action 'addItem')
            selected=selectedLocation
            as |loc autocomplete|}}
            {{paper-autocomplete-highlight
              label=loc.name
              searchText=autocomplete.searchText}}
          {{/paper-autocomplete}}
          {{#paper-autocomplete
            class="flex"
            label="Remove Location"
            options=locationList searchField="name"
            onSelectionChange=(action 'removeItem')
            selected=selectedLocation
            as |loc autocomplete|}}
            {{paper-autocomplete-highlight
              label=loc.name
              searchText=autocomplete.searchText}}
          {{/paper-autocomplete}}
        </div>

        <br>

        <div> Role:
          {{#each user.roles as |rol|}}
            {{rol.name}}
          {{/each}}
          {{#paper-autocomplete
            class="flex"
            label="Change role"
            options=roleList searchField="name"
            onSelectionChange=(action 'change_role')
            selected=selectedRole
          as |rol autocomplete|}}
            {{paper-autocomplete-highlight
              label=rol.name
              searchText=autocomplete.searchText}}
          {{/paper-autocomplete}}
        </div>

        {{#form.submit-button raised=true primary=true disabled=form.isInvalid}}
          Save
        {{/form.submit-button}}
      {{/paper-form}}

    {{else}}
      {{user.firstName}} {{user.lastName}}
      <br><br>
      <div> Location:
        {{#each user.locations as |loc|}}
          {{loc.name}}
        {{/each}}</div>
      <br>
      <div> Role:
      {{#each user.roles as |rol|}}
        {{rol.name}}
      {{/each}} </div>
    {{/if}}

  {{/card.content}}
{{/paper-card}}
{{yield}}
