{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}
        {{paper-icon "face" class="md-avatar-icon"}}
        {{user.userId}}
        {{#paper-button onClick=(action 'edit')}}{{paper-icon "mode edit"}}Edit{{/paper-button}}
      {{/text.headline}}
    {{/title.text}}
  {{/card.title}}
  {{#card.content}}
    {{user.firstName}} {{user.lastName}}
    {{#if edit}}
      {{#paper-form onSubmit=(action "update") as |form|}}

        <div> Location:
        {{paper-chips
          content=user.locations
          options=locations
          readOnly=readOnly
          removeItem=(action "removeItem")
          addItem=(action "addItem")
          placeholder="Edit locations"}}
        </div>

        <br>

        <div> Role:
          {{#paper-radio-group
             groupValue=user.role
             onChange=(action (mut user.role)) as |group|}}
             {{#each roles as |role|}}
              {{#group.radio value=role}} {{role}} {{/group.radio}}
             {{/each}}
             {{#group.radio value=""}} none {{/group.radio}}
          {{/paper-radio-group}}
        </div>

        {{#form.submit-button raised=true primary=true disabled=form.isInvalid}}
          Save
          {{/form.submit-button}}
        {{#paper-button warn=true onClick=(action 'edit')}}Cancel{{/paper-button}}
      {{/paper-form}}

    {{else}}
      <div> Location:
        {{paper-chips
        content=user.locations
        options=locations
        readOnly=true}}</div>
      <br>
      <div> Role: {{user.role}} </div>
    {{/if}}

  {{/card.content}}
{{/paper-card}}

{{yield}}
