{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}
        {{paper-icon "face" class="md-avatar-icon"}}
        {{user.name}}
      {{/text.headline}}
    {{/title.text}}
  {{/card.title}}
  {{#card.content}}

  <div>
    Location: {{user.location}}
    {{#paper-button onClick=(action 'showLocations')}}Add/Remove/Change Location{{/paper-button}}
    {{#if showLocations}}
      {{paper-chips
        content=user.location
        options=locations
        readOnly=readOnly
        removeItem=(action "removeItem")
        addItem=(action "addItem")
        placeholder="Add a location"}}
    {{/if}}
  </div>
  <div>
    Role: {{user.role}}
    {{#paper-button onClick=(action 'showRoles')}}Add/Remove/Change Role{{/paper-button}}
    {{#if showRoles}}
      {{#paper-radio-group
         groupValue=user.role
         onChange=(action (mut user.role)) as |group|}}
         {{#group.radio value="admin"}} admin {{/group.radio}}
         {{#group.radio value="rmc"}} rmc {{/group.radio}}
         {{#group.radio value="general user"}} general user {{/group.radio}}
         {{#group.radio value="none"}} none {{/group.radio}}
      {{/paper-radio-group}}
    {{/if}}
  </div>
    {{#paper-form onSubmit="submit" as |form|}}
      {{#form.submit-button raised=true primary=true disabled=form.isInvalid}}
        Save
      {{/form.submit-button}}
    {{/paper-form}}
  {{/card.content}}
{{/paper-card}}

{{yield}}
