{{#paper-toolbar class="md-whiteframe-1dp page-main-toolbar" as |toolbar|}}
  {{#toolbar.tools}}
    {{#paper-sidenav-toggle as |toggleAction|}}
      {{#paper-button class="hide-gt-sm" onClick=(action toggleAction) iconButton=true}}
        {{paper-icon "menu"}}
      {{/paper-button}}
    {{/paper-sidenav-toggle}}
    <h2>
      {{pageTitle}}
    </h2>
    <span class="flex"></span>
    {{#unless session.isAuthenticated}}
      {{#paper-button raised=true onClick=(action "authenticate")}}
        {{paper-icon "lock"}}
        Login
      {{/paper-button}}
    {{else}}
      {{#paper-item}}
        {{log session.data.authenticated}}
        {{session.data.authenticated.userId}}
        {{!TODO}}
      {{/paper-item}}
      {{#paper-button iconButton=true onClick=(action "invalidate")}}
        {{paper-icon icon="exit to app"}}
      {{/paper-button}}
    {{/unless}}
  {{/toolbar.tools}}
{{/paper-toolbar}}
