{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}Add Hierarchy{{/text.headline}}
    {{/title.text}}
  {{/card.title}}
  {{#card.content}}
    {{#paper-form onSubmit=(action "create") as |form|}}
      {{form.input label="Parent ID" value=pname onChange=(action (mut pname)) required=true}}
      {{form.input label="Child ID" value=cname onChange=(action (mut cname)) required=true}}
      {{form.input label="Relation" value=rel onChange=(action (mut rel)) required=true}}
      {{#form.submit-button raised=true primary=true disabled=form.isInvalid}}
        Submit
      {{/form.submit-button}}
    {{/paper-form}}
  {{/card.content}}
{{/paper-card}}

<div class="layout-row layout-wrap">
  {{#each model as |classhierarchy|}}
  <div class="layout-column flex-xs flex-gt-xs-50">
    {{listof-classhierarchy classhierarchy=classhierarchy}}
  </div>
  {{/each}}
</div>

{{outlet}}
