{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}Add Hierarchy{{/text.headline}}
    {{/title.text}}
  {{/card.title}}
  {{#card.content}}
    {{#paper-form onSubmit=(action "create") as |form|}}
      {{#paper-autocomplete
        class="flex"
        label="Select parent"
        options=classList searchField="name"
        onSelectionChange=(action (mut pname))
        selected=pname.name
        required=true
        as |class autocomplete|}}
        {{paper-autocomplete-highlight
          label=class.name
          searchText=autocomplete.searchText}}
      {{/paper-autocomplete}}
      {{#paper-autocomplete
        class="flex"
        label="Select child"
        options=classList searchField="name"
        onSelectionChange=(action (mut cname))
        selected=cname.name
        required=true
        as |class autocomplete|}}
        {{paper-autocomplete-highlight
          label=class.name
          searchText=autocomplete.searchText}}
      {{/paper-autocomplete}}
      {{form.input label="Relation" value=rel onChange=(action (mut rel)) required=true}}
      {{#form.submit-button raised=true primary=true disabled=form.isInvalid}}
        Submit
      {{/form.submit-button}}
    {{/paper-form}}
  {{/card.content}}
{{/paper-card}}

{{#paper-card class="layout-fill" as |card|}}
  {{#card.content}}
    <div class="layout-row layout-wrap">
      {{#each hierarchyList as |classhierarchy|}}
      <div class="layout-column flex-xs flex-gt-xs-50">
        {{listof-classhierarchy classhierarchy=classhierarchy classList=classList}}
      </div>
      {{/each}}
    </div>
    {{paper-data-table-pagination
      limit=pageSize
      limitOptions=limitOptions
      page=page
      pages=pages
      total=totalElements
      onChangePage=(action (mut page))
      onChangeLimit=(action (mut pageSize))
      onIncrementPage=(action 'incrementPage')
      onDecrementPage=(action 'decrementPage')}}
  {{/card.content}}
{{/paper-card}}

{{outlet}}
