{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}Add Hierarchy{{/text.headline}}
    {{/title.text}}
  {{/card.title}}
  {{#card.content}}
    {{#paper-form onSubmit="submit" as |form|}}
      {{form.input label="Parent Name" value=name onChange=(action (mut name)) maxlength=100 minlength=1 required=true}}
      {{form.input label="Child Name" value=name onChange=(action (mut name)) maxlength=100 minlength=1 required=true}}
      {{form.input label="Relation" value=name onChange=(action (mut name)) maxlength=11 minlength=1 required=true}}
      {{#form.submit-button raised=true primary=true disabled=form.isInvalid}}
        Submit
      {{/form.submit-button}}
    {{/paper-form}}
  {{/card.content}}
{{/paper-card}}

<div class="layout-row layout-wrap">
  {{#each model as |classhierarchy|}}
  <div class="layout-column flex-xs flex-gt-xs-50">
    {{listof-classhierarchy classhierarchy=classhierarchy}}
  </div>
  {{/each}}
</div>

{{outlet}}
