  {{#paper-sidenav-container class="inner-sidenav"}}
    {{#paper-sidenav
      class="md-whiteframe-z2"
      name=left2}}
      {{#paper-toolbar }}
        <div class="md-toolbar-tools">
          <img src="/img/aelogo.png" height="50">&nbsp;&nbsp;<strong>IPFMS</strong>
        </div>
      {{/paper-toolbar}}
      {{#paper-content padding=true}}
        {{#paper-list}}
            {{#paper-item action="transitionTo"  href="/" param="home"}}
              {{paper-icon icon="home" size="lg"}}
              Home
            {{/paper-item}}
          {{#paper-item action="transitionTo"  href="/config" param="config"}}
            {{paper-icon icon="build" size="lg"}}
            Configuration
          {{/paper-item}}
          {{#paper-item action="transitionTo"  href="/print" param="print"}}
            {{paper-icon icon="print" size="lg"}}
            Print
          {{/paper-item}}
        {{/paper-list}}
      {{/paper-content}}
    {{/paper-sidenav}}

    {{#paper-card-content class="flex"}}
      {{outlet}}
    {{/paper-card-content}}
  {{/paper-sidenav-container}}

  {{paper-toaster parent="#main"}}

