{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}
    {{#paper-button iconButton=true onClick=(action "toggle" "leftSideBarLockedOpen")}}
      {{paper-icon "menu"}}
      {{if leftSideBarLockedOpen "Unlock" "Lock"}}
    {{/paper-button}}
    <h2>Integrated Paper File Management System</h2>
    <span class="flex"></span>

    {{#paper-menu as |menu|}}
      {{#menu.trigger}}
        {{#paper-button onClick=null iconButton=true}}
          {{paper-icon "account circle" clas="md-menu-origin"}}
        {{/paper-button}}
      {{/menu.trigger}}

      {{#menu.content as |content|}}
        {{#each items as |item|}}
          {{#content.menu-item onClick="openSomething"}}
            {{paper-icon item.icon class="md-menu-align-target"}}
            <span>{{item.title}}</span>
          {{/content.menu-item}}
        {{/each}}

        {{#content.menu-item onClick="openSomething" disabled=true}}
          {{paper-icon "account circle" onClick=null }}
          <span>Profile</span>
          {{paper-icon "settings" onClick=null }}
          <span>Settings</span>
          {{paper-icon "help" onClick=null }}
          <span>Help</span>
        {{/content.menu-item}}
      {{/menu.content}}
    {{/paper-menu}}



  {{/toolbar.tools}}
{{/paper-toolbar}}
{{#paper-sidenav-container class="inner-sidenav"}}
{{#paper-sidenav
  class="md-whiteframe-z2"
  name="left2"
  open=leftSideBarOpen2
  lockedOpen=leftSideBarLockedOpen
  isLockedOpen=leftSideBarLockedOpen
  onToggle=(action (mut leftSideBarOpen2))}}
  {{#paper-toolbar as |toolbar|}}
    {{#paper-toolbar-tools}}Left Sidenav{{/paper-toolbar-tools}}
  {{/paper-toolbar}}
  {{#paper-content padding=true}}
    Put the stuff here
  {{/paper-content}}
{{/paper-sidenav}}
{{/paper-sidenav-container}}

<!--<div>
{{#paper-toolbar tall=false as |toolbar| }}
  <div class="layout-row">
    <div class="flex-shrink" style="width:200px;">
      <img src="/img/img_IPFMS.png" style="width:100%;max-width:100%;max-height:100%;">
    </div>
    <div class="layout-column flex">
      <div class="flex">
        <span class="flex"></span>
        <p>Logged in as XYZ</p>
      </div>
      <div class="flex">
        {{#toolbar.tools}}
          {{#paper-button raised=true href="/"}}
            {{paper-icon "home"}}
            Home
          {{/paper-button}}
          {{#paper-button raised=true href="/config"}}
            {{paper-icon "settings"}}
            Configuration
          {{/paper-button}}
          {{#paper-button raised=true href="/print"}}
            {{paper-icon "print"}}
            Print
          {{/paper-button}}
          <span class="flex"></span>
          {{#paper-button mini=true href="/search"}}
            {{paper-icon "search"}}
          {{/paper-button}}
        {{/toolbar.tools}}
      </div>
    </div>
  </div>
{{/paper-toolbar}}
</div>
<div style="width:100%;height:100%">
  {{outlet}}
</div>
-->