{{page-toolbar pageTitle="Configuration" isLayout=true store=store}}
{{config-nav}}

{{#paper-content class="md-padding"}}
  <div class="layout-fill layout-align-start-center layout-column flex">
  {{#paper-card-content class="flex"}}

    {{#if currentlyLoading}}
      <div class="layout-fill layout-row layout-align-center-center">
        <div>
        {{paper-progress-circular accent=true diameter=40}}
        </div>
      </div>
    {{else}}
      <div class="layout-fill layout-align-start-center layout-column" >
      {{outlet}}
      </div>
    {{/if}}
  {{/paper-card-content}}
  </div>
{{/paper-content}}