{{page-toolbar pageTitle="Home" isLayout=true store=store}}


  <div class="layout-fill layout-align-start-center layout-column flex">
    <br><br><br><br>
    <div class="layout-row layout-align-center">
      <h1>Welcome to the Integrated Paper File Management System</h1>
    </div>
    <br><br><br><br>

  {{#if currentlyLoading}}
      <div class="layout-fill layout-row layout-align-center-center">
        <div>
          {{paper-progress-circular accent=true diameter=40}}
        </div>
      </div>
  {{else}}
    {{#paper-form as |form|}}
      <div class="layout-column">
        <div class="layout-row">
          {{form.input class="search-bar" label="Quick Search" value=query onChange=(action (mut query))}}
        </div>
        <div class="layout-row layout-align-center">
        {{#form.submit-button raised=true primary=true onClick=(action "search") disabled=form.isInvalid}}
          Submit
        {{/form.submit-button}}
        </div>
      </div>
    {{/paper-form}}
  {{/if}}


      <div class="layout-row layout-wrap">
        {{#paper-card as |card|}}
          {{#card.content as |title|}}
            There are <h2>{{recordCount}}</h2> records.
          {{/card.content}}
        {{/paper-card}}

        {{#paper-card as |card|}}
          {{#card.content as |title|}}
            There are <h2>{{containerCount}}</h2> boxes.
          {{/card.content}}
        {{/paper-card}}
      </div>
  </div>