<h3> Configure Location </h3>

<div>
  {{#paper-list}}
{{#each model as |location|}}
  <ul>
    {{location.name}} {{#paper-button}}{{paper-icon "mode edit"}}Change Location Name{{/paper-button}}
    <div>
      {{#paper-button raised=true}}show users{{/paper-button}}
    </div>
    <div>
      <span>List of users</span>
      <ul>
        <li>user1{{#paper-button}}{{paper-icon "delete"}}Remove User{{/paper-button}}</li>
        <li>{{#paper-button}}{{paper-icon "add"}}Add User{{/paper-button}}</li>
      </ul>
    </div>
    <div>
      {{#paper-button warn=true}}{{paper-icon "delete"}}Delete Location{{/paper-button}}
    </div>
    {{paper-divider}}
  </ul>
{{/each}}
  {{/paper-list}}

  {{#paper-button}}{{paper-icon "add circle outline"}}Add Location{{/paper-button}}

</div>

<button>Cancel</button>
<button>Save</button>


{{outlet}}