{{page-toolbar pageTitle="Search" isLayout=true}}
<div class="layout-fill layout-align-start-center layout-column">
{{#paper-card as |card|}}
  <h1 class="center-text">
    Record Search
  </h1>
  {{#card.content}}
    {{#paper-form as |form|}}
      <div class="layout-row">
        {{form.input class="search-bar" label="Search" value=query onChange=(action (mut query))}}
      </div>

    <div class="layout-row layout-align-center">
      {{#paper-button raised=true onClick=(action "toggleAdvancedSearch")}}Advanced Search{{/paper-button}}
      {{#paper-button raised=true onClick=(action "search")}}Search{{/paper-button}}
    </div>

	{{#if showAdvancedSearch}}
    <div class="search-options">
    <div class="layout-row layout-align-center">
      <div class="layout-column search-options-column">
        {{#paper-select label="Location" options=locations selected=locationOption onChange=(action (mut locationOption)) as |location|}}
          {{location.name}}
        {{/paper-select}}
      </div>
      <div class="layout-column search-options-column">
        {{#paper-checkbox value=searchProjects onChange=(action (mut searchProjects))}}
          Search Projects
        {{/paper-checkbox}}
        {{#paper-select label="Function" options=functions selected=functionOption onChange=(action (mut functionOption)) as |function|}}
          {{function.name}}
        {{/paper-select}}
        {{#paper-select label="Project Manager" options=projectManagers selected=projectManagerOption1 onChange=(action (mut projectManagerOption1)) as |projectManager|}}
          {{projectManager.name}}
        {{/paper-select}}
        {{#paper-select label="Client Name" options=clientNames selected=clientNameOption onChange=(action (mut clientNameOption)) as |clientName|}}
          {{clientName.name}}
        {{/paper-select}}
      </div>
        <div class="layout-column search-options-column">
          {{#paper-checkbox value=searchProposals onChange=(action (mut searchProposals))}}
            Search Proposals
          {{/paper-checkbox}}
          {{#paper-select label="Field of practice" options=fieldOfPractices selected=fieldOfPracticeOption onChange=(action (mut fieldOfPracticeOption)) as |fieldOfPractice|}}
            {{fieldOfPractice.name}}
          {{/paper-select}}
          {{#paper-select label="Project Manager" options=projectManagers selected=projectManagerOption2 onChange=(action (mut projectManagerOption2)) as |projectManager|}}
            {{projectManager.name}}
          {{/paper-select}}
          {{#paper-select label="Client Name" options=clientNames selected=clientNameOption2 onChange=(action (mut clientNameOption2)) as |clientName|}}
            {{clientName.name}}
          {{/paper-select}}
        </div>
        <div class="layout-column search-options-column">
          {{#paper-checkbox value=searchOther onChange=(action (mut searchOther))}}
            Search Other
          {{/paper-checkbox}}
          {{#paper-select label="Record type" options=recordTypes selected=recordTypeOption onChange=(action (mut recordTypeOption)) as |recordType|}}
            {{recordType.name}}
          {{/paper-select}}
          {{#paper-select label="Classification" options=classifications selected=classificationOption onChange=(action (mut classificationOption)) as |classification|}}
            {{classification.name}}
          {{/paper-select}}
          {{#paper-select label="Record state" options=recordStates selected=recordStateOption onChange=(action (mut recordStateOption)) as |recordState|}}
            {{recordState.name}}
          {{/paper-select}}
          {{#paper-select label="Date fields" options=dateFields selected=dateFieldOption onChange=(action (mut dateFieldOption)) as |dateField|}}
            {{dateField.name}}
          {{/paper-select}}
          {{#paper-select label="Retention schedule" options=retentionSchedules selected=retentionScheduleOption onChange=(action (mut retentionScheduleOption)) as |retentionSchedule|}}
            {{retentionSchedule.name}}
          {{/paper-select}}
        </div>
    </div>
    </div>
	{{/if}}
    {{/paper-form}}
  {{/card.content}}
{{/paper-card}}

  <div class="flex" >
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}Search Results{{/text.headline}}
        {{/title.text}}
      {{/card.title}}
      {{#card.content}}

        {{#paper-data-table as |table|}}
          {{#table.head as |head|}}
            {{#head.column checkbox = true}}
              {{#paper-checkbox disabled=true onChange=null}}{{/paper-checkbox}}
            {{/head.column}}
            {{#head.column}}Type{{/head.column}}
            {{#head.column}}Number{{/head.column}}
            {{#head.column}}Title{{/head.column}}
            {{#head.column}}Consignment Code{{/head.column}}
            {{#head.column}}Type{{/head.column}}
            {{#head.column}}Schedule{{/head.column}}
            {{#head.column}}State{{/head.column}}
            {{#head.column}}Location{{/head.column}}
            {{#head.column}}Created{{/head.column}}
            {{#head.column}}Updated{{/head.column}}
            {{#head.column}}Closed{{/head.column}}
          {{/table.head}}
          {{#table.body as |body|}}
            {{log model.content.1.record}}
          {{#if showResults}}
            {{#each model.content as |result|}}
              {{log result}}
              {{#if result.record}}
                  {{#body.row as |row|}}
                    {{#row.cell checkbox=true}}
                      {{#paper-checkbox value=recordAdd onChange=(action (mut this.recordAdd))}}{{/paper-checkbox}}
                    {{/row.cell}}
                    {{#row.cell}}Record{{/row.cell}}
                    {{#row.cell}}{{result.record.number}}{{/row.cell}}
                    {{#row.cell}}{{result.record.title}}{{/row.cell}}
                    {{#row.cell}}{{result.record.consignmentCode}}{{/row.cell}}
                    {{#row.cell}}{{result.record.type.name}}{{/row.cell}}
                    {{#row.cell}}{{result.record.schedule.code}}{{/row.cell}}
                    {{#row.cell}}{{result.record.state.name}}{{/row.cell}}
                    {{#row.cell}}{{result.record.location.name}}{{/row.cell}}
                    {{#row.cell}}{{result.record.createdAt}}{{/row.cell}}
                    {{#row.cell}}{{result.record.updatedAt}}{{/row.cell}}
                    {{#row.cell}}{{result.record.closedAt}}{{/row.cell}}
                  {{/body.row}}
              {{/if}}

              {{#if result.container}}
                  {{#body.row as |row|}}
                    {{#row.cell checkbox=true}}
                      {{#paper-checkbox disabled=true onChange=null}}{{/paper-checkbox}}
                    {{/row.cell}}
                    {{#row.cell}}Container{{/row.cell}}
                    {{#row.cell}}{{result.container.number}}{{/row.cell}}
                    {{#row.cell}}{{result.container.title}}{{/row.cell}}
                    {{#row.cell}}{{result.container.consignmentCode}}{{/row.cell}}
                    {{#row.cell}}{{/row.cell}}
                    {{#row.cell}}{{/row.cell}}
                    {{#row.cell}}{{/row.cell}}
                    {{#row.cell}}{{/row.cell}}
                    {{#row.cell}}{{result.container.createdAt}}{{/row.cell}}
                    {{#row.cell}}{{result.container.updatedAt}}{{/row.cell}}
                    {{#row.cell}}{{/row.cell}}
                  {{/body.row}}
            {{/if}}
            {{/each}}
          {{/if}}
          {{/table.body}}
        {{/paper-data-table}}
        {{paper-data-table-pagination
          limit=pageSize
          limitOptions=limitOptions
          page=page
          pages=searchResults.page.totalPages
          onChangePage=(action (mut page))
          onChangeLimit=(action (mut limit))
          onIncrementPage=(action 'incrementPage')
          onDecrementPage=(action 'decrementPage')}} {{!TODO set from model.page}}
      {{/card.content}}
    {{/paper-card}}
  </div>

</div>

{{outlet}}
