{{page-toolbar pageTitle="Search" isLayout=true}}
<div class="layout-fill layout-align-start-center layout-column">
{{#paper-card as |card|}}
  <h1 class="center-text">
    Record Search
  </h1>
  {{#card.content}}
    {{#paper-form as |form|}}
      <div class="layout-row">
        {{form.input class="search-bar" label="Search" value=query required=true onChange=(action (mut query))}}
      </div>

    <div class="layout-row layout-align-center">
      {{#paper-button raised=true onClick=(action "toggleAdvancedSearch")}}Advanced Search{{/paper-button}}
      {{#paper-button raised=true onClick=(action "search")}}Search{{/paper-button}}
    </div>

	{{#if showAdvancedSearch}}
    <div class="search-options">
      <div class="layout-row layout-align-center">
        <h3>Search Filters</h3>
      </div>
      <div class="layout-row layout-align-center">
        {{#paper-checkbox value=records onChange=(action (mut ignoreRecords))}}
          Include Records
        {{/paper-checkbox}}
        {{#paper-checkbox value=containers onChange=(action (mut ignoreContainers))}}
          Include Containers
        {{/paper-checkbox}}
      </div>
      <div class="layout-row layout-align-center">
        <div class="layout-column search-options-column">
          {{paper-input class="flex" label="Record State" value=state onChange=(action (mut state))}}
          {{paper-input class="flex" label="Record Type" value=type onChange=(action (mut type))}}
          {{paper-input class="flex" label="Schedule" value=schedule onChange=(action (mut schedule))}}
        </div>
        <div class="layout-column search-options-column">
          {{paper-input class="flex" label="Classification" value=classification onChange=(action (mut classification))}}
          {{paper-input class="flex" label="Location" value=location onChange=(action (mut location))}}
        </div>
          <div class="layout-column search-options-column">
            {{paper-input class="flex" label="Creation date" type="date" value=created onChange=(action (mut created))}}
            {{paper-input class="flex" label="Update date" type="date" value=updated onChange=(action (mut updated))}}
            {{paper-input class="flex" label="Destruction date" type="date" value=closed onChange=(action (mut closed))}}
          </div>
      </div>
    </div>
	{{/if}}
    {{/paper-form}}
  {{/card.content}}
{{/paper-card}}

  <div class="flex" >
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}Search Results{{/text.headline}}
        {{/title.text}}
      {{/card.title}}
      {{#card.content}}

        {{#paper-data-table as |table|}}
          {{#table.head as |head|}}
            {{#head.column checkbox = true}}
              {{#paper-checkbox disabled=true onChange=null}}{{/paper-checkbox}}
            {{/head.column}}
            {{#head.column}}Type{{/head.column}}
            {{#head.column}}Number{{/head.column}}
            {{#head.column}}Title{{/head.column}}
            {{#head.column}}Consignment Code{{/head.column}}
            {{#head.column}}Type{{/head.column}}
            {{#head.column}}Schedule{{/head.column}}
            {{#head.column}}State{{/head.column}}
            {{#head.column}}Location{{/head.column}}
            {{#head.column}}Created{{/head.column}}
            {{#head.column}}Updated{{/head.column}}
            {{#head.column}}Closed{{/head.column}}
          {{/table.head}}
          {{#table.body as |body|}}
          {{#if showResults}}
            {{#each model.content as |result|}}
              {{#if result.record}}
                  {{#body.row as |row|}}
                    {{#row.cell checkbox=true}}
                      {{#paper-checkbox value=recordAdd onChange=(action (mut this.recordAdd))}}{{/paper-checkbox}}
                    {{/row.cell}}
                    {{#row.cell}}Record{{/row.cell}}
                    {{#row.cell}}{{result.record.number}}{{/row.cell}}
                    {{#row.cell}}{{result.record.title}}{{/row.cell}}
                    {{#row.cell}}{{result.record.consignmentCode}}{{/row.cell}}
                    {{#row.cell}}{{result.record.type.name}}{{/row.cell}}
                    {{#row.cell}}{{result.record.schedule.code}}{{/row.cell}}
                    {{#row.cell}}{{result.record.state.name}}{{/row.cell}}
                    {{#row.cell}}{{result.record.location.name}}{{/row.cell}}
                    {{#row.cell}}{{result.record.createdAt}}{{/row.cell}}
                    {{#row.cell}}{{result.record.updatedAt}}{{/row.cell}}
                    {{#row.cell}}{{result.record.closedAt}}{{/row.cell}}
                  {{/body.row}}
              {{/if}}

              {{#if result.container}}
                  {{#body.row as |row|}}
                    {{#row.cell checkbox=true}}
                      {{#paper-checkbox disabled=true onChange=null}}{{/paper-checkbox}}
                    {{/row.cell}}
                    {{#row.cell}}Container{{/row.cell}}
                    {{#row.cell}}{{result.container.number}}{{/row.cell}}
                    {{#row.cell}}{{result.container.title}}{{/row.cell}}
                    {{#row.cell}}{{result.container.consignmentCode}}{{/row.cell}}
                    {{#row.cell}}{{/row.cell}}
                    {{#row.cell}}{{/row.cell}}
                    {{#row.cell}}{{/row.cell}}
                    {{#row.cell}}{{/row.cell}}
                    {{#row.cell}}{{result.container.createdAt}}{{/row.cell}}
                    {{#row.cell}}{{result.container.updatedAt}}{{/row.cell}}
                    {{#row.cell}}{{/row.cell}}
                  {{/body.row}}
            {{/if}}
            {{/each}}
          {{/if}}
          {{/table.body}}
        {{/paper-data-table}}
        {{paper-data-table-pagination
          limit=pageSize
          limitOptions=limitOptions
          page=page
          pages=searchResults.page.totalPages
          onChangePage=(action (mut page))
          onChangeLimit=(action (mut limit))
          onIncrementPage=(action 'incrementPage')
          onDecrementPage=(action 'decrementPage')}} {{!TODO set from model.page}}
      {{/card.content}}
    {{/paper-card}}
  </div>

</div>

{{outlet}}
