{{page-toolbar style="float:top" pageTitle="Search" isLayout=true}}


{{#paper-content class="md-padding"}}
  <div class="layout-fill layout-align-start-center layout-column flex">
    <div class="layout-row layout-wrap layout-fill layout-align-center-start layout-wrap">
      <div class="flex-55 flex-noshrink">
        {{#paper-card as |card|}}
          <h1 class="center-text">
            Record Search
          </h1>
          {{#card.content}}
            {{#paper-form onSubmit=(action "search") as |form|}}
              <div class="layout-row layout-wrap">
                {{form.input class="search-bar" label="Search" value=query onChange=(action (mut query))}}
              </div>

              <div class="layout-row  layout-align-space-between-center layout-wrap">
                <div class="layout-column layout-align-start-center flex-33">
                  {{#paper-switch value=showAdvancedSearch onChange=(action "toggleAdvancedSearch")}}
                    {{if showAdvancedSearch "Full Search" "Quick Search"}}
                  {{/paper-switch}}
                </div>
                <div class="layout-column layout-align-center-center flex-33">
                {{#form.submit-button raised=true }}Search{{/form.submit-button}}
                </div>
                <div class="layout-column layout-align-start-center flex-33"></div>
              </div>

              {{#if showAdvancedSearch}}
                <div class="search-options">
                  <div class="layout-row layout-align-center layout-wrap">
                    <h3>Search Filters</h3>
                  </div>
                  <div class="layout-row layout-align-center layout-wrap">
                    {{#paper-checkbox value=records onChange=(action (mut records))}}
                      Include Records
                    {{/paper-checkbox}}
                    {{#paper-checkbox value=containers onChange=(action (mut containers))}}
                      Include Containers
                    {{/paper-checkbox}}
                  </div>
                  <div class="layout-column search-options-column layout-wrap">
                    <div class="layout-row layout-align-center layout-wrap">
                      <div class="flex-50">
                        {{#paper-autocomplete
                          class="flex"
                          label="Record Type"
                          options=types searchField="name"
                          onSelectionChange=(action "updateRecordType")
                          selected=selectedType
                          noMatchesMessage="This Type does not exits"
                        as |recordType autocomplete|}}
                          {{paper-autocomplete-highlight
                            label=recordType.name
                            searchText=autocomplete.searchText
                            flags="i"}}
                        {{/paper-autocomplete}}
                      </div>
                      <div class="flex-50">
                        {{#paper-autocomplete
                          class="flex"
                          label="Location"
                          options=locations searchField="name"
                          onSelectionChange=(action "updateLocation")
                          selected=selectedLocation
                          noMatchesMessage="This Location does not exits"
                        as |thisLocation autocomplete|}}
                          {{paper-autocomplete-highlight
                            label=thisLocation.name
                            searchText=autocomplete.searchText
                            flags="i"}}
                        {{/paper-autocomplete}}
                      </div>
                    </div>
                    <div class="layout-row layout-align-center layout-wrap">
                      <div class="flex-33">
                        {{#paper-autocomplete
                          class="flex"
                          label="Record State"
                          options=states searchField="name"
                          onSelectionChange=(action "updateRecordState")
                          selected=selectedState
                          noMatchesMessage="This State does not exits"
                        as |recordState autocomplete|}}
                          {{paper-autocomplete-highlight
                            label=recordState.name
                            searchText=autocomplete.searchText
                            flags="i"}}
                        {{/paper-autocomplete}}
                      </div>
                      <div class="flex-33">
                        {{#paper-autocomplete
                          class="flex"
                          label="Retention Schedule"
                          options=schedules searchField="code"
                          onSelectionChange=(action "updateSchedule")
                          selected=selectedSchedule
                          noMatchesMessage="This Retention Schedule does not exits"
                        as |retentionSchedule autocomplete|}}
                          {{paper-autocomplete-highlight
                            label=retentionSchedule.code
                            searchText=autocomplete.searchText
                            flags="i"}}
                        {{/paper-autocomplete}}
                      </div>
                      <div class="flex-33">
                        {{paper-input class="flex" label="Classification" value=classification onChange=(action (mut classification))}}
                      </div>
                    </div>
                    <div class="layout-row layout-align-center layout-wrap">
                      <div class="flex-33">
                        {{paper-input class="flex" label="Creation date" type="date" value=created onChange=(action (mut created))}}
                      </div>
                      <div class="flex-33">
                      {{paper-input class="flex" label="Update date" type="date" value=updated onChange=(action (mut updated))}}
                      </div>
                      <div class="flex-33">
                        {{paper-input class="flex" label="Destruction date" type="date" value=closed onChange=(action (mut closed))}}
                      </div>
                    </div>
                  </div>
                </div>
              {{/if}}
            {{/paper-form}}
          {{/card.content}}
        {{/paper-card}}
      </div>
    </div>

    <div class="flex" >
      {{#paper-card as |card|}}
        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.headline}}Search Results{{/text.headline}}
          {{/title.text}}
        {{/card.title}}
        {{#card.content}}

          {{#if currentlyLoading}}
            <div class="layout-fill layout-align-start-center layout-column">
              {{paper-progress-circular accent=true diameter=40}}
            </div>
          {{/if}}

          {{#paper-data-table selectable=false as |table|}}
            {{#table.head as |head|}}
              {{#head.column checkbox = true}}
                {{#paper-checkbox disabled=true onChange=null}}{{/paper-checkbox}}
              {{/head.column}}
              {{#head.column}}Type{{/head.column}}
              {{#head.column}}Number{{/head.column}}
              {{#head.column colspan=2}}Title{{/head.column}}
              {{#head.column}}Consignment Code{{/head.column}}
              {{#head.column}}Type{{/head.column}}
              {{#head.column}}Schedule{{/head.column}}
              {{#head.column}}State{{/head.column}}
              {{#head.column}}Location{{/head.column}}
              {{#head.column}}Classifications{{/head.column}}
              {{#head.column}}Created{{/head.column}}
              {{#head.column}}Updated{{/head.column}}
              {{#head.column}}Closed{{/head.column}}
            {{/table.head}}
            {{#table.body as |body|}}
              {{#unless currentlyLoading}}
                {{#each resultModel.content as |result|}}
                  {{#if result.record}}
                    {{#body.row edit=true as |row|}}
                      {{#row.cell checkbox=true}}
                        {{#paper-checkbox value=result.checked onChange=(action (mut result.checked))}}{{/paper-checkbox}}
                      {{/row.cell}}
                      {{#row.cell}}Record{{/row.cell}}
                      {{#row.cell}}{{result.record.number}}{{/row.cell}}
                      {{#row.cell}}{{result.record.title}}{{/row.cell}}
                      {{#row.cell}}{{result.record.consignmentCode}}{{/row.cell}}
                      {{#row.cell}}{{result.record.type.name}}{{/row.cell}}
                      {{#row.cell}}{{result.record.schedule.code}}{{/row.cell}}
                      {{#row.cell}}{{result.record.state.name}}{{/row.cell}}
                      {{#row.cell}}{{result.record.location.name}}{{/row.cell}}
                      {{#row.cell}}
                        {{#each result.record.classifications as |class|}}
                          {{class.name}},
                        {{/each}}
                      {{/row.cell}}
                      {{#row.cell}}{{moment-format result.record.createdAt 'll'}}{{/row.cell}}
                      {{#row.cell}}{{moment-format result.record.updatedAt 'll'}}{{/row.cell}}
                      {{#row.cell}}
                        {{#if result.record.closedAt}}
                          {{moment-format result.record.closedAt 'll'}}
                        {{/if}}
                      {{/row.cell}}
                    {{/body.row}}
                  {{/if}}

                  {{#if result.container}}
                    {{#body.row edit=true as |row|}}
                      {{#row.cell checkbox=true}}
                        {{#paper-checkbox value=result.checked onChange=(action (mut result.checked))}}{{/paper-checkbox}}
                      {{/row.cell}}
                      {{#row.cell}}Container{{/row.cell}}
                      {{#row.cell}}{{result.container.number}}{{/row.cell}}
                      {{#row.cell}}{{result.container.title}}{{/row.cell}}
                      {{#row.cell}}{{result.container.consignmentCode}}{{/row.cell}}
                      {{#row.cell}}{{/row.cell}}
                      {{#row.cell}}{{/row.cell}}
                      {{#row.cell}}{{/row.cell}}
                      {{#row.cell}}{{/row.cell}}
                      {{#row.cell}}{{/row.cell}}
                      {{#row.cell}}{{moment-format result.container.createdAt 'll'}}{{/row.cell}}
                      {{#row.cell}}{{moment-format result.container.updatedAt 'll'}}{{/row.cell}}
                      {{#row.cell}}{{/row.cell}}
                    {{/body.row}}
                  {{/if}}
                {{/each}}
              {{/unless}}
            {{/table.body}}
          {{/paper-data-table}}
          <div class="layout-row">
            {{#paper-button raised=true primary=true onClick=(action "addToStorage")}}
              {{paper-icon "add"}} Add to Print Queue
            {{/paper-button}}
            <span class="flex"></span>
            {{paper-data-table-pagination
              limit=pageSize
              limitOptions=limitOptions
              page=page
              pages=pages
              total=totalElements
              onChangePage=(action (mut page))
              onChangeLimit=(action (mut pageSize))
              onIncrementPage=(action 'incrementPage')
              onDecrementPage=(action 'decrementPage')}}
          </div>
        {{/card.content}}
      {{/paper-card}}
    </div>

  </div>

  {{outlet}}
{{/paper-content}}
